@charset "UTF-8";
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  width: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  cursor: default;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
}

button,
button:active,
button:focus {
  outline: none;
}

.container {
  width: 1440px;
  margin: 0px auto;
  overflow: hidden;
}

@font-face {
  font-family: 'TT Travels';
  src: url("../fonts/TTTravels-Medium.eot");
  src: local("☺"), url("../fonts/TTTravels-Medium.woff") format("woff"), url("../fonts/TTTravels-Medium.ttf") format("truetype"), url("../fonts/TTTravels-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url("../fonts/TTTravels-Regular.eot");
  src: local("☺"), url("../fonts/TTTravels-Regular.woff") format("woff"), url("../fonts/TTTravels-Regular.ttf") format("truetype"), url("../fonts/TTTravels-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url("../fonts/TTTravels-Light.eot");
  src: local("☺"), url("../fonts/TTTravels-Light.woff") format("woff"), url("../fonts/TTTravels-Light.ttf") format("truetype"), url("../fonts/TTTravels-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url("../fonts/TTTravels-DemiBold.eot");
  src: local("☺"), url("../fonts/TTTravels-DemiBold.woff") format("woff"), url("../fonts/TTTravels-DemiBold.ttf") format("truetype"), url("../fonts/TTTravels-DemiBold.svg") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'TT Travels';
  src: url("../fonts/TTTravels-Bold.eot");
  src: local("☺"), url("../fonts/TTTravels-Bold.woff") format("woff"), url("../fonts/TTTravels-Bold.ttf") format("truetype"), url("../fonts/TTTravels-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1440px;
  height: 70px;
  background-color: inherit;
  -webkit-transition: background-color .8s;
  transition: background-color .8s;
  z-index: 510;
}

.left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 251px;
  height: 37px;
  margin: 16px 0px 17px 54px;
}

.left__logo {
  width: 98.56px;
  height: 25px;
}

.left__btns-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 131px;
  height: 37px;
  margin-left: 21px;
  background: #FFFFFF;
  border: 1px solid #E2E8F0;
  border-radius: 48px;
}

.left__btns-wrap span.switcher {
  position: relative;
  width: 131px;
  height: 37px;
  border: 1px solid #E2E8F0;
  border-radius: 48px;
  background: #FFFFFF;
  z-index: 520;
}

.left__btns-wrap span.switcher input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  width: 131px;
  height: 37px;
  border-radius: 25px;
  outline: none;
  margin: 0px;
}

.left__btns-wrap span.switcher input:before, .left__btns-wrap span.switcher input:after {
  z-index: 2;
  position: absolute;
  color: #5A30F0;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 110%;
}

.left__btns-wrap span.switcher input:before {
  content: 'Дом';
  left: 3px;
  padding: 11px 12px;
}

.left__btns-wrap span.switcher input:after {
  content: 'Офис';
  right: 3px;
  padding: 11px 12px;
}

.left__btns-wrap span.switcher label {
  z-index: 1;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 20px;
}

.left__btns-wrap span.switcher.switcher-1 input {
  -webkit-transition: .25s -.1s;
  transition: .25s -.1s;
}

.left__btns-wrap span.switcher.switcher-1 input:checked:before {
  color: #636C81;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.left__btns-wrap span.switcher.switcher-1 input:checked:after {
  color: white;
  -webkit-transition: color .5s .2s;
  transition: color .5s .2s;
}

.left__btns-wrap span.switcher.switcher-1 input:checked + label {
  left: 66px;
  right: 10px;
  width: 60px;
  height: 30px;
  background: #5A30F0;
  -webkit-transition: left .4s .2s, right .5s, background .35s -.1s, width .5s;
  transition: left .4s .2s, right .5s, background .35s -.1s, width .5s;
}

.left__btns-wrap span.switcher.switcher-1 input:not(:checked) {
  -webkit-transition: background .5s -.1s;
  transition: background .5s -.1s;
}

.left__btns-wrap span.switcher.switcher-1 input:not(:checked):before {
  color: white;
  -webkit-transition: color .5s .2s;
  transition: color .5s .2s;
}

.left__btns-wrap span.switcher.switcher-1 input:not(:checked):after {
  color: #636C81;
  -webkit-transition: color .5s;
  transition: color .5s;
}

.left__btns-wrap span.switcher.switcher-1 input:not(:checked) + label {
  left: 3px;
  right: 60px;
  width: 55px;
  height: 30px;
  background: #5A30F0;
  -webkit-transition: left .5s, right .4s .2s, width .2s;
  transition: left .5s, right .4s .2s, width .2s;
}

.center__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 662px;
  height: 19px;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #404040;
}

.center__menu :not(:first-child) {
  margin-left: 32px;
}

.center__menu li {
  cursor: pointer;
}

.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 292px;
  height: 32px;
}

.right__phone {
  width: 152px;
  height: 16px;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.2px;
  color: #404040;
}

.right__time {
  position: relative;
  width: 40px;
  height: 16px;
  font-family: TT Travels;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.2px;
  margin-left: 30px;
  color: #404040;
}

.right__time::before {
  content: '';
  display: block;
  width: 1px;
  height: 14px;
  background: black;
  position: absolute;
  top: 2px;
  left: -15px;
}

.right__slash {
  width: 32px;
  height: 32px;
  margin-left: 32px;
}

.white {
  background-color: white;
  -webkit-transition: background-color .8s, top .8s;
  transition: background-color .8s, top .8s;
}

.hide-header {
  top: -70px;
  -webkit-transition: top .8s;
  transition: top .8s;
}

.header-mobile {
  display: none;
}

.right__slash div {
  display: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 800px;
}

.main__left {
  width: 720px;
  height: 800px;
}

.main__right {
  width: 401px;
  height: 357px;
  margin: 221px 164px 222px 155px;
}

.main__right h1 {
  width: 383px;
  height: 252px;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: normal;
  font-size: 76px;
  line-height: 110%;
  color: #404040;
}

.main__right p {
  width: 397px;
  height: 75px;
  margin-top: 30px;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #404040;
}

.oreder-cleaning {
  position: fixed;
  left: 50%;
  top: 660px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 600;
  -webkit-transition: top 2s;
  transition: top 2s;
}

.oreder-cleaning__wrap {
  width: 405px;
  height: 405px;
  border-radius: 100%;
}

.oreder-cleaning__ball {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 195px;
  height: 195px;
  background: #5A30F0;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 100%;
  -webkit-transition: height 2s, width 2s;
  transition: height 2s, width 2s;
}

.oreder-cleaning__ball:hover {
  width: 250px;
  height: 250px;
  -webkit-transition: height 2s, width 2s;
  transition: height 2s, width 2s;
}

.oreder-cleaning__ball:hover .oreder-cleaning__text {
  -webkit-animation: none;
          animation: none;
}

.oreder-cleaning__text {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 165px;
  height: 102px;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 100%;
  -webkit-animation: rotating 20s infinite linear;
  animation: rotating 20s infinite linear;
  -webkit-transition: font-size 2s;
  transition: font-size 2s;
}

@-webkit-keyframes rotating {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotating {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.small-wrap {
  top: 87vh;
  -webkit-transition: top 2s;
  transition: top 2s;
}

.small-circle {
  width: 176px;
  height: 176px;
  -webkit-transition: width 2s, top 2s, height 2s;
  transition: width 2s, top 2s, height 2s;
}

.small-text {
  font-size: 16px;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
}

.hide-text {
  width: 0px;
  height: 0px;
  font-size: 0px;
  -webkit-transition: width 1s, height 1s, font-size 1s;
  transition: width 1s, height 1s, font-size 1s;
}

.hide {
  top: 110%;
  width: 0px;
  height: 0px;
  -webkit-transition: width 1s, height 1s, top 1s;
  transition: width 1s, height 1s, top 1s;
}

.oreder__mobile {
  display: none;
}

.features {
  padding: 73px 60px 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.features__item {
  position: relative;
  width: 300px;
  height: 328px;
  overflow: hidden;
  background: #F3F6FB;
  border-radius: 8px;
  cursor: pointer;
}

.features__item p {
  padding: 20px 40px 0px;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
  text-align: center;
  color: #404040;
}

.features__hover-el {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: #5A30F0;
  border-radius: 8px;
  width: 300px;
  height: 328px;
  display: none;
}

.features__hover-el p {
  padding: 30px 30px 0px 30px;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #FFFFFF;
  text-align: left;
  cursor: pointer;
}

.features__item:hover .features__hover-el {
  display: block;
}

#personal {
  position: absolute;
  bottom: 0px;
  left: 64px;
}

#chemistry {
  position: absolute;
  bottom: 0px;
  left: 55px;
}

#quality {
  position: absolute;
  bottom: 0px;
  left: 45px;
}

#round-the-clock {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.features__item.active-scroll-js {
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  opacity: 1;
}

.anim-show {
  -webkit-transform: translate(0px, 120%);
          transform: translate(0px, 120%);
  opacity: 0;
  -webkit-transition: all 1.6s ease 0s;
  transition: all 1.6s ease 0s;
}

.anim-showx {
  -webkit-transform: translate(-375px, 0px);
          transform: translate(-375px, 0px);
  opacity: 0;
  -webkit-transition: all 1.6s ease 0s;
  transition: all 1.6s ease 0s;
}

.anim-showx:nth-child(1) {
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
}

.anim-showx:nth-child(2) {
  -webkit-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
}

.anim-showx:nth-child(3) {
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}

.anim-showx:nth-child(4) {
  -webkit-transition: all 2.5s ease 0s;
  transition: all 2.5s ease 0s;
}

.anim-show:nth-child(1) {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.anim-show:nth-child(2) {
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.anim-show:nth-child(3) {
  -webkit-transition: all 1.2s ease 0s;
  transition: all 1.2s ease 0s;
}

.anim-show.active-scroll-js,
.active-scroll-js .anim-show {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.anim-show.active-scroll-js,
.active-scroll-js .anim-showx {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.cleaning {
  padding: 75px 173px 142px;
  position: relative;
  height: 800px;
}

.cleaning__menu {
  position: absolute;
  top: 165px;
  left: -380px;
  opacity: 0;
  width: 375px;
  height: 100%;
  background: #5A30F0;
  -webkit-transition: left 0.5s, opacity 0.5s;
  transition: left 0.5s, opacity 0.5s;
}

.cleaning__menu p {
  width: 136px;
  height: 21px;
  margin: 35px 186px 0px 53px;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #FFFFFF;
}

.cleaning__menu ul {
  list-style: none;
  margin: 200px 30px 0px 60px;
  padding: 0px;
}

.cleaning__menu ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  height: 53px;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 120%;
  color: #FFFFFF;
  overflow: hidden;
  position: relative;
}

.cleaning__menu ul li div {
  position: absolute;
  top: 0px;
  left: -45px;
  -webkit-transition: left 1s;
  transition: left 1s;
}

.cleaning__menu ul li p {
  position: absolute;
  left: 0px;
  top: 0px;
  width: auto;
  height: auto;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 120%;
  color: #FFFFFF;
  opacity: 0.7;
  margin: 0px;
  cursor: pointer;
}

.cleaning__text {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1083px;
  height: 113px;
  margin-bottom: 52px;
  z-index: 610;
  -webkit-transition: top 1s;
  transition: top 1s;
}

.cleaning__text h2 {
  width: 535px;
  height: 53px;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: normal;
  font-size: 44px;
  line-height: 120%;
  color: #404040;
}

.cleaning__text p {
  width: 414px;
  height: 100px;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  color: #404040;
}

.cleaning__img {
  position: absolute;
  margin: 0 auto;
  top: 165px;
  left: 173px;
  width: calc(100% - 375px);
  height: 630px;
  border-radius: 8px;
  -webkit-transition: left 1s, top 1s;
  transition: left 1s, top 1s;
  background-image: url(/img/cleaning/cleaning0.webp);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
}

.full-screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 800px;
  padding: 0;
}

.full-screen__img {
  top: 0px;
  left: 375px;
  height: 100%;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
}

.full-screen__img img {
  width: 100%;
  height: 100%;
}

.full-screen__text {
  opacity: 0;
  top: -20%;
  -webkit-transition: top 1s, opacity 1s;
  transition: top 1s, opacity 1s;
}

.full-screen__menu {
  top: 0px;
  opacity: 1;
  left: 0px;
  -webkit-transition: left 1s;
  transition: left 1s;
}

.cleaning__item:not(:first-child) {
  margin-top: 22px;
}

.cleaning__item p:hover {
  font-style: italic;
  opacity: 1;
  color: #FFFFFF;
}

.cleaning__img-item {
  position: absolute;
  left: 100%;
}

.show-img {
  left: 0%;
  -webkit-transition: left 1s;
  transition: left 1s;
  z-index: 900;
}

.cleaning__kitchen-plus-itemwrap,
.cleaning__bathroom-plus-itemwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  background: #5A30F0;
  z-index: 500;
  border-radius: 100%;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.cleaning__kitchen-plus-item,
.cleaning__bathroom-plus-item {
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #5A30F0;
  opacity: 0.2;
  z-index: 400;
}

.cleaning__kitchen-plus-text,
.cleaning__bathroom-plus-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  width: 190px;
  height: 40px;
  background: #FFFFFF;
  padding: 10px;
  border-radius: 3px;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  font-family: "TT Travels";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 130%;
  color: #636C81;
}

.plus-text-1 {
  top: 190px;
  left: 680px;
}

.plus-text-2 {
  top: 415px;
  left: 624px;
}

.plus-text-3 {
  top: 695px;
  left: 660px;
}

.plus-text-4 {
  top: 470px;
  left: 790px;
}

.plus-text-5 {
  top: 340px;
  left: 940px;
}

.plus-text-6 {
  top: 560px;
  left: 900px;
}

.plus-text-7 {
  top: 475px;
  left: 1105px;
}

.plus-itemwrap-1 {
  position: absolute;
  top: 247px;
  left: 746px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.plus-itemwrap-2 {
  position: absolute;
  top: 470px;
  left: 700px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.plus-itemwrap-3 {
  position: absolute;
  top: 750px;
  left: 735px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.plus-itemwrap-4 {
  position: absolute;
  top: 520px;
  left: 875px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.plus-itemwrap-5 {
  position: absolute;
  top: 395px;
  left: 1020px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.plus-itemwrap-6 {
  position: absolute;
  top: 610px;
  left: 975px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.plus-itemwrap-7 {
  position: absolute;
  top: 525px;
  left: 1190px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.plus-item-1,
.plus-item-2,
.plus-item-3,
.plus-item-4,
.plus-item-5,
.plus-item-6,
.plus-item-7 {
  position: absolute;
  top: -10px;
  left: -10px;
  width: 50px;
  height: 50px;
  z-index: 400;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.cleaning__kitchen-plus-itemwrap:hover,
.cleaning__bathroom-plus-itemwrap:hover {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.plus-itemwrap-1:hover .plus-item-1,
.plus-itemwrap-2:hover .plus-item-2,
.plus-itemwrap-3:hover .plus-item-3,
.plus-itemwrap-4:hover .plus-item-4,
.plus-itemwrap-5:hover .plus-item-5,
.plus-itemwrap-6:hover .plus-item-6,
.plus-itemwrap-7:hover .plus-item-7 {
  opacity: 0;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.plus-itemwrap-1:hover + .plus-text-1,
.plus-itemwrap-2:hover + .plus-text-2,
.plus-itemwrap-3:hover + .plus-text-3,
.plus-itemwrap-4:hover + .plus-text-4,
.plus-itemwrap-5:hover + .plus-text-5,
.plus-itemwrap-6:hover + .plus-text-6,
.plus-itemwrap-7:hover + .plus-text-7,
.plusb-itemwrap-1:hover + .plusb-text-1,
.plusb-itemwrap-2:hover + .plusb-text-2,
.plusb-itemwrap-3:hover + .plusb-text-3,
.plusb-itemwrap-4:hover + .plusb-text-4,
.plusb-itemwrap-5:hover + .plusb-text-5 {
  opacity: 1;
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.plusb-itemwrap-1 {
  position: absolute;
  top: 245px;
  left: 680px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.plusb-itemwrap-2 {
  position: absolute;
  top: 720px;
  left: 745px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.plusb-itemwrap-3 {
  position: absolute;
  top: 700px;
  left: 1010px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.plusb-itemwrap-4 {
  position: absolute;
  top: 385px;
  left: 1070px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.plusb-itemwrap-5 {
  position: absolute;
  top: 630px;
  left: 1255px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

.plusb-text-1 {
  top: 190px;
  left: 595px;
}

.plusb-text-2 {
  top: 665px;
  left: 665px;
}

.plusb-text-3 {
  top: 650px;
  left: 930px;
}

.plusb-text-4 {
  top: 335px;
  left: 985px;
}

.plusb-text-5 {
  top: 580px;
  left: 1170px;
}

.show-plus {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 800;
}

.img-index {
  z-index: 1000;
}

.div-show {
  left: 0px !important;
  -webkit-transition: left 1s;
  transition: left 1s;
}

.cleaning__mobile {
  display: none;
}

@media screen and (max-width: 1457px) {
  .container {
    width: 100%;
  }
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 140px;
  }
  .main__left {
    display: none;
  }
  .main {
    height: 800px;
    margin: 155px 0px 100px 0px;
  }
  .main__right {
    background-image: url(/img/header/main-picture.webp);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
    width: 100%;
    height: 100%;
  }
  .main__right h1 {
    width: 700px;
    height: 60px;
    margin: 100px auto;
    font-size: 56px;
  }
  .main__right p {
    width: 700px;
    height: 60px;
    margin: 50px auto;
    text-align: center;
  }
  .oreder-cleaning {
    display: none;
  }
  .oreder__mobile {
    position: absolute;
    left: 50%;
    top: 900px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 195px;
    height: 195px;
    background: #5A30F0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 100%;
  }
  .oreder__mobile-text {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 165px;
    height: 102px;
    font-family: "TT Travels";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 100%;
  }
  .features {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 1500px;
    padding: 0px;
  }
  .cleaning {
    margin-top: 50px;
  }
  .cleaning__text {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .hide-header {
    top: -140px;
  }
  .cleaning__img {
    left: 0px;
    width: 100%;
  }
  .cleaning__menu {
    display: none;
  }
  .cleaning__kitchen-plus {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .cleaning {
    display: none;
  }
  .cleaning__mobile {
    margin-top: 50px;
    display: block;
  }
  .cleaning__text-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .cleaning__text-mobile h2 {
    margin-top: 15px;
    font-family: "TT Travels";
    font-style: normal;
    font-weight: normal;
    font-size: 33px;
    line-height: 120%;
    color: #404040;
  }
  .cleaning__text-mobile p {
    margin-top: 15px;
    width: 90%;
    height: 100px;
    font-family: "TT Travels";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #404040;
  }
  .cleaning__img-mobile {
    margin-top: 15px;
  }
  .main__right {
    background-position: center;
  }
  .main__right h1 {
    width: 300px;
    font-size: 33px;
    text-align: center;
    margin: 65px auto;
  }
  .main__right p {
    width: 300px;
  }
  .oreder__mobile {
    top: 700px;
  }
  .header {
    top: -160px;
    background-color: #ffffff;
    -webkit-transition: top 1s;
    transition: top 1s;
    height: 155px;
  }
  .header-mobile {
    position: fixed;
    width: 100%;
    height: 155px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #5A30F0;
    color: #FFFFFF;
    font-family: "TT Travels";
    font-style: normal;
    font-weight: 500;
    font-size: 45px;
    z-index: 500;
  }
  .right__slash img {
    display: none;
  }
  .right__slash div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 60px;
    height: 32px;
    font-family: "TT Travels";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #5A30F0;
  }
}
