.cleaning {
    padding: 75px 173px 142px;
    position: relative;
    height: 800px;

    &__menu {
        position: absolute;
        top: 165px;
        left: -380px;
        opacity: 0;
        width: 375px;
        height: 100%;
        background: #5A30F0;
        transition: left 0.5s, opacity 0.5s;
        p {
            width: 136px;
            height: 21px;
            margin: 35px 186px 0px 53px;
            font-family: "TT Travels";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 130%;

            color: #FFFFFF;
        }
        ul {
            list-style: none;
            margin: 200px 36px 0px 60px;
            padding: 0px;
            li {
                display: flex;
                align-items: center;
                justify-content: left;
                height: 53px;
                font-family: "TT Travels";
                font-style: normal;
                font-weight: normal;
                font-size: 44px;
                line-height: 120%;
                color: #FFFFFF;
                overflow: hidden;
                position: relative;
                div{
                    margin-right: 20px;
                    position: absolute;
                    top: 0px;
                    left: -45px;
                    transition: left 1s;
                }
                p {
                    position: absolute;
                    left: 0px;
                    top: 0px;
                    width: auto;
                    height: auto;
                    font-family: "TT Travels";
                    font-style: normal;
                    font-weight: normal;
                    font-size: 44px;
                    line-height: 120%;
                    color: #FFFFFF;
                    opacity: 0.7;
                    margin: 0px;
                    cursor: pointer;
                }
            }
        }
    }

    &__text {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
        display: flex;
        justify-content: space-between;
        width: 1083px;
        height: 113px;
        margin-bottom: 52px;
        z-index: 610;
        transition: top 2s;
        h2 {
            width: 535px;
            height: 53px;
            font-family: "TT Travels";
            font-style: normal;
            font-weight: normal;
            font-size: 44px;
            line-height: 120%;
            color: #404040;
        }

        p {
            width: 414px;
            height: 100px;
            font-family: "TT Travels";
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 140%;

            color: #404040;
        }
    }

    &__img {
        position: absolute;
        margin: 0 auto;
        top: 165px;
        left: 173px;

        width: calc(100% - 375px);
        height: 630px;
        border-radius: 8px;
        transition:  left 2s, top 2s;
        background-image: url(/img/cleaning/cleaning0.png);
        background-size:  100% 100%;
        background-repeat: no-repeat;
        overflow: hidden;
    }
}

.full-screen {
    display: flex;
    width: 100%;
    height: 800px;
    padding: 0;

}

.full-screen__img {
    top: 0px;
    left: 375px;
    height: 100%;
    transform: translate(0%, 0%);
    img {
        width: 100%;
        height: 100%;
    }
}

.full-screen__text {
    opacity: 0;
    top: -20%;
    transition: top 2s, opacity 2s;
}

.full-screen__menu {
    top: 0px;
    opacity: 1;
    left: 0px;
    transition: left 2s;
}

.cleaning__item:not(:first-child) {
    margin-top: 22px;
}

.cleaning__item p:hover {
    font-style: italic;
    opacity: 1;
    color: #FFFFFF;
}

.cleaning__img-item {
    position: absolute;
    left: 100%;
}

.show-img {
    left: 0%;
    transition: left 2s;
}

.cleaning__kitchen-plus-itemwrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background: #5A30F0;
    z-index: 500;
    border-radius: 100%;
}

.cleaning__kitchen-plus-item {
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5A30F0;
    opacity: 0.2;
    z-index: 400;
}

.cleaning__kitchen-plus-text {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 190px;
    height: 40px;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 3px;
    opacity: 0;
    transition: opacity 1s;
    font-family: "TT Travels";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 130%;

    color: #636C81;
}

.plus-text-1 {
    top: 190px;
    left: 680px;
}

.plus-text-2 {
    top: 415px;
    left: 624px;
}

.plus-text-3 {
    top: 415px;
    left: 624px;
}

.plus-text-4 {
    top: 415px;
    left: 624px;
}

.plus-text-5 {
    top: 415px;
    left: 624px;
}

.plus-text-6 {
    top: 415px;
    left: 624px;
}

.plus-text-7 {
    top: 415px;
    left: 624px;
}

.plus-itemwrap-1 {
    position: absolute;
    top: 247px;
    left: 746px;
    transition: transform 1s;
}

.plus-itemwrap-2 {
    position: absolute;
    top: 470px;
    left: 700px;
    transition: transform 1s;
}

.plus-itemwrap-3 {
    position: absolute;
    top: 714px;
    left: 700px;
    transition: transform 1s;
}

.plus-itemwrap-4 {
    position: absolute;
    top: 470px;
    left: 700px;
    transition: transform 1s;
}

.plus-itemwrap-5 {
    position: absolute;
    top: 470px;
    left: 700px;
    transition: transform 1s;
}

.plus-itemwrap-6 {
    position: absolute;
    top: 470px;
    left: 700px;
    transition: transform 1s;
}

.plus-itemwrap-7 {
    position: absolute;
    top: 470px;
    left: 700px;
    transition: transform 1s;
}

.plus-item-1,
.plus-item-2,
.plus-item-3,
.plus-item-4,
.plus-item-5,
.plus-item-6,
.plus-item-7 {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 50px;
    height: 50px;
    z-index: 400;
    transition: opacity 1s;
}

.cleaning__kitchen-plus-itemwrap:hover {
    transform: rotate(45deg);
    transition: transform 1s;
}

.plus-itemwrap-1:hover .plus-item-1,
.plus-itemwrap-2:hover .plus-item-2,
.plus-itemwrap-3:hover .plus-item-3,
.plus-itemwrap-4:hover .plus-item-4,
.plus-itemwrap-5:hover .plus-item-5,
.plus-itemwrap-6:hover .plus-item-6,
.plus-itemwrap-7:hover .plus-item-7{
    opacity: 0;
    transition: opacity 1s;
}

.plus-itemwrap-1:hover + .plus-text-1,
.plus-itemwrap-2:hover + .plus-text-2,
.plus-itemwrap-3:hover + .plus-text-3,
.plus-itemwrap-4:hover + .plus-text-4,
.plus-itemwrap-5:hover + .plus-text-5,
.plus-itemwrap-6:hover + .plus-text-6,
.plus-itemwrap-7:hover + .plus-text-7{
    opacity: 1;
    transition: opacity 1s;
}