.features {
    padding: 73px 60px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__item {
        position: relative;
        width: 300px;
        height: 328px;
        overflow: hidden;
        background: #F3F6FB;
        border-radius: 8px;
        cursor: pointer;
        p {
            padding: 20px 40px 0px;
            font-family: "TT Travels";
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 130%;
            text-align: center;

            color: #404040;
        }
    }
    &__hover-el {
        position:absolute;
        left:0;
        bottom:0;
        right:0;
        top:0;
        background: #5A30F0;
        border-radius: 8px;
        width: 300px;
        height: 328px;
        display: none;
        p {
            padding: 30px 30px 0px 30px;
            font-family: "TT Travels";
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 140%;
            color: #FFFFFF;
            text-align: left;
            cursor: pointer;
        }
    }
}

.features__item:hover .features__hover-el {
    display: block;
}

#personal {
    position: absolute;
    bottom: 0px;
    left: 64px;
}

#chemistry {
    position: absolute;
    bottom: 0px;
    left: 55px;
}

#quality {
    position: absolute;
    bottom: 0px;
    left: 45px;
}

#round-the-clock {
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.features__item.active-scroll-js {
    transform: translate(0px, 0px);
    opacity: 1;
}

.anim-show {
    transform: translate(0px, 120%);
    opacity: 0;
    transition: all 1.6s ease 0s;
}

.anim-showx {
    transform: translate(-375px, 0px);
    opacity: 0;
    transition: all 1.6s ease 0s;
}

.anim-showx:nth-child(1) {
    transition: all 1s ease 0s;
}

.anim-showx:nth-child(2) {
    transition: all 1.5s ease 0s;
}

.anim-showx:nth-child(3) {
    transition: all 2s ease 0s;
}

.anim-showx:nth-child(4) {
    transition: all 2.5s ease 0s;
}

.anim-show:nth-child(1) {
    transition: all 0.4s ease 0s;
}

.anim-show:nth-child(2) {
    transition: all 0.8s ease 0s;
}

.anim-show:nth-child(3) {
    transition: all 1.2s ease 0s;
}

.anim-show.active-scroll-js,
.active-scroll-js .anim-show {
    opacity: 1;
    transform: translate(0px, 0px);
}

.anim-show.active-scroll-js,
.active-scroll-js .anim-showx {
    opacity: 1;
    transform: translate(0px, 0px);
}
