.header {
      position: fixed;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1440px;
      height: 70px;
      background-color: inherit;
      z-index: 510;
}
.left {
      display: flex;
      align-items: center;
      width: 251px;
      height: 37px;
      margin: 16px 0px 17px 54px;
		&__logo {
            width: 98.56px;
            height: 25px;
		}

		&__btns-wrap {
            display: flex;
            align-items: center;
            width: 131px;
            height: 37px;
            margin-left: 21px;
            background: #FFFFFF;
            border: 1px solid #E2E8F0;
            border-radius: 48px;
            span.switcher {
                  position: relative;
                  width:131px;
                  height:37px;
                  border: 1px solid #E2E8F0;
                  border-radius: 48px;
                  background: #FFFFFF;
                  z-index: 520;

                  input {
                        appearance: none;
                        position: relative;
                        width:131px;
                        height:37px;
                        border-radius:25px;
                        outline:none;
                        font-family: 'Oswald', sans-serif;
                        margin: 0px;

                        &:before, &:after {
                        z-index:2;
                        position: absolute;
                        color:#5A30F0;
                        font-family: "TT Travels";
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 110%;
                        }
                        &:before {
                        content: 'Дом';
                        left:3px;
                        padding: 8px 12px;
                        }

                        &:after {
                        content: 'Офис';
                        right:3px;
                        padding: 11px 12px;
                        }
                  }

                  label {
                        z-index:1;
                        position: absolute;
                        top:3px;
                        left: 3px;
                        border-radius:20px;
                  }

                  &.switcher-1 {
                        input {
                        transition:.25s -.1s;
            
                        &:checked {
                              &:before {
                              color: white;
                              transition: color .5s .2s;
                              }

                              &:after {
                              color: #636C81;;
                              transition: color .5s;
                              }

                              &+label {
                              left:3px;
                              right:60px;
                              width: 55px;
                              height: 30px;
                              background:#5A30F0;
                              transition: left .5s, right .4s .2s, width .2s;
                              }
                        }

                              &:not(:checked) {
                              transition: background .5s -.1s;

                              &:before {
                                    color: #636C81;;
                                    transition: color .5s;
                              }

                              &:after {
                                    color:white;
                                    transition: color .5s .2s;
                              }

                              &+label {
                                    left:60px;
                                    right:10px;
                                    width: 66px;
                                    height: 30px;
                                    background:#5A30F0;
                                    transition: left .4s .2s, right .5s, background .35s -.1s, width .5s;
                              }
                        }
                  }
            }
      }
}

}
.center {
	&__menu {
            display: flex;
            width: 662px;
            height: 19px;

            font-family: "TT Travels";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            letter-spacing: 0.2px;

            color: #404040;

            :not(:first-child){
                  margin-left: 32px;
            }

            li {
                  cursor: pointer;
            }
	}
}
.right {
      display: flex;
      align-items: center;
      width: 292px;
      height: 32px;
		&__phone {
            width: 152px;
            height: 16px;
            font-family: "TT Travels";
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            letter-spacing: 0.2px;

            color: #404040;
		}

		&__time {
            position: relative;
            width: 40px;
            height: 16px;
            font-family: TT Travels;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            letter-spacing: 0.2px;
            margin-left: 30px;

            color: #404040;

            &::before {
                  content: '';
                  display: block;
                  width: 1px;
                  height: 14px;
                  background: black;
                  position: absolute;
                  top: 2px;
                  left: -15px;
            }
		}

		&__slash {
            width: 32px;
            height: 32px;
            margin-left: 32px;
		}
}
