.main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 800px;
		&__left {
            width: 720px;
            height: 800px;
		}

		&__right {
            width: 401px;
            height: 357px;
            margin: 221px 164px 222px 155px;

            h1 {
                width: 383px;
                height: 252px;
                font-family: "TT Travels";
                font-style: normal;
                font-weight: normal;
                font-size: 76px;
                line-height: 110%;

                color: #404040;
            }

            p {
                width: 397px;
                height: 75px;
                margin-top: 30px;
                font-family: "TT Travels";
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 140%;

                color: #404040;
            }
		}
}

.oreder-cleaning {
    position: fixed;
    left: 50%;
    top: 660px;
    transform: translate(-50%, -50%);
    z-index: 600;
    transition: top 2s;
    &__wrap {
        width: 405px;
        height: 405px;
        border-radius: 100%;
    }

    &__ball {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 195px;
        height: 195px;
        background: #5A30F0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border-radius: 100%;
        transition: height 2s, width 2s;
        &:hover{
            width: 250px;
            height: 250px;
            transition: height 2s, width 2s;
            .oreder-cleaning__text {
            animation: none;
            }
        }
    }

    &__text {
            position: absolute;
            display: flex;
            text-align: center;
            align-items: center;
            width: 165px;
            height: 102px;
            font-family: "TT Travels";
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 130%;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            color: #FFFFFF;
            cursor: pointer;
            border-radius: 100%;
            
            -webkit-animation: rotating 20s infinite linear;
            -moz-animation: rotating 20s infinite linear;
            -ms-animation: rotating 20s infinite linear;
            -o-animation: rotating 20s infinite linear;
            animation: rotating 20s infinite linear;
            transition: font-size 2s;
    }
}

@-webkit-keyframes rotating {
	to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes rotating {
	to { -moz-transform: rotate(360deg); }
}
@-ms-keyframes rotating {
	to { -ms-transform: rotate(360deg); }
}
@-o-keyframes rotating {
	to { -o-transform: rotate(360deg); }
}
@keyframes rotating {
	to { transform: rotate(360deg); }
}

.small-wrap {
    top: 87vh;
    transition: top 2s;
}

.small-circle {
    width: 176px;
    height: 176px;
    transition: width 2s, top 2s, height 2s;
}

.small-text {
    font-size: 16px;
    transition: font-size 2s;
}